<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0 http://maven.apache.org/xsd/settings-1.2.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.2.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  
  <!-- Configuração do proxy -->
<!--  <proxies>
    <proxy>
      <id>proxy-http</id>
      <active>true</active>
      <protocol>http</protocol>
      <host>172.16.50.1</host>
      <port>8080</port>
      <username>mackcloud</username>
      <password>cloud2019</password>
      <nonProxyHosts>localhost,127.0.0.1,192.168.1.0/24,172.16.50.*</nonProxyHosts>
    </proxy>
    <proxy>
      <id>proxy-https</id>
      <active>true</active>
      <protocol>https</protocol>
      <host>172.16.50.1</host>
      <port>8080</port>
      <username>mackcloud</username>
      <password>cloud2019</password>
      <nonProxyHosts>localhost,127.0.0.1,192.168.1.0/24,172.16.50.*</nonProxyHosts>
    </proxy>
</proxies>-->

  
</settings>

